#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: 100vh;
  background-color: #0D162B;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.whatsapp-icon:hover {
  transform: scale(1.1);
}
